$primary: #203482;
$secundary: #000000;
$clear: #30f17d;
$font: Arial, Verdana, Tahoma;
$size: 18px;

* {
    padding: 0;
    margin: 0;
}

body {
    font: $size $font;
    background-color: $primary;
} 

.navbar-brand {
    img {
        width: 80px !important;
    }
}

.navbar {
    background: $secundary !important;
}

 .nav-link {
    color: #f5f5f5 !important; 
}

.navbar-toggler {
    background: #f5f5f5 !important;
}

.footer {
    background: $secundary;
    color: #f5f5f5;
    padding: 25px;
    box-sizing: border-box;
}

.card {
    margin-bottom: 10px;
    box-shadow: 0 0 10px #CCC;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

.card {
    background-color: #000000;
    width: 180px;
    height: 260px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
}

.card img {
    width: 100%;
    width: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}

.card h1 {
    font-size: 1.2rem;
}

.card button {
    background-color: $clear;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #f5f5f5;
    font-size: 1rem;
    font-weight: bold;
}